// $background: white;
$background: #07032b;
$background-white: #f8f6fc;


//$color-text: #acacac;
$primary: #7067CF;

// NAV
$light-nav-background: #ffe3d8;
$light-nav-text: black;
$light-nav-text-hover: $primary;
$light-nav-text-active: darken($primary, 10);
